* {
    box-sizing: border box; 
    padding: 0; 
    margin: 0;
    position: none;
    border: 0;
    display: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(./fondoDisplay.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cabecera {
    position: absolute;
    background-color: rgb(78, 119, 182);
    opacity: 0.3;
    width: 100vw;
    height: 12vh;
}

.footer {
    position: absolute;
    bottom: 0;
    background-color: rgb(78, 119, 182);
    opacity: 0.3;
    width: 100vw;
    height: 6vh;
}

.logo img {
    width: 7rem;
    margin-left: 0.15rem;
    margin-top: 1rem;
    position: float;
    float: left;
}

.barraElemento {
    position: relative;
    top: 3rem;
    list-style-type: none;
    display: inline-block;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    font-weight:bolder;
}

.barraNavegacion {
    width: 38%;
    margin: 0 auto;
}

.usuario {
    display: inline-block;
    position: float;
    float: right;
    position: relative;
    top: 2.3rem;
    right: 3.5rem;
    list-style-type: none;
    padding: 0.7rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    font-weight:bolder
}

#idUsuario {
    background-color: white;
    border-radius: 8px;
    color: black;
    margin-left:0.5rem;
}

.socials {
    padding: 0;
    position: absolute;
    bottom: 0rem;
    left: 60.5rem;
}